<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; 2014 - <%= date(new Date(), 'YYYY') %> <%= config.title %> Limited. All Rights Reserved.<br>
      <div>
        All content on this website is licensed under the <a href="http://creativecommons.org/licenses/by-sa/3.0/"> (CC BY-SA 3.0) Creative Commons Attribution-ShareAlike 3.0 Unported License</a>. All source code published here is licensed under the <a href="http://opensource.org/licenses/MIT"> MIT License</a> unless explicitly stated otherwise. The content is provided for educational and informational purposes only without any warranties, guarantees or conditions, of any kind, and may not be accurate, up to date or complete. Any use or reliance on any content or materials published, mentioned or linked here is at your own risk and the kodebot Limited and author/authors accept no liability or responsibility for.
      </div>
    </div>
  </div>
</footer>